@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --bg-primary: #040609;
  --bg-sec: #392f5a;
  --card-bg:  #11ECE5;
  --sailor-blue: #00203FFF;
  --mint: #ADEFD1FF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(../assets/space-shot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body:hover {
  background-image: url(../assets/launch-site.png);
  transition: all ease 1s 2s;
  background-blend-mode: multiply;
}

.app__base h1 {
  color: #fff;
  text-align: center;
  padding: 15px;
}

.asteroids-base {
  display: flex;
  flex-wrap: wrap;
  margin: 35px;
  justify-content: center;
}

.asteroids-base > div {
  margin: 20px;
}

.asteroids-info {
  width: 280px;
  height: 200px;
  border: 1px solid var(--mint);
  color: #fff;
  padding: 22px;
  border-radius: 4px;
}

.asteroids-info:hover {
  background: var(--sailor-blue);
  transform: rotate3d(1,1,0 -180deg);
  transition: all 1s ease-in;
  opacity: .8;
  border: none;
  cursor: pointer;
}

.asteroids-info a {
  color: #fff;
}

.loader {
  color: #fff;
}

@media only screen and (max-width: 576px) {
  .asteroids-info {
    width: 168px;
    height: 120px;
    font-size: 15px;
  }

  .asteroids-info h3 {
    font-size: 12px;
  }

  .asteroids-base > div {
    margin: 8px;
  }

  .asteroids-base {
    margin: 10px;
  }
}
