@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --bg-primary: #040609;
  --bg-sec: #392f5a;
  --card-bg: #11ece5;
  --sailor-blue: #00203fff;
  --mint: #adefd1ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: ghostwhite;
}

.app__base h1 {
  color: #000;
  text-align: center;
  padding: 15px;
}

.asteroids-base {
  display: flex;
  flex-wrap: wrap;
  margin: 35px;
  justify-content: center;
}

.asteroids-base > div {
  margin: 20px;
}

.asteroids-info {
  width: 330px;
  height: 280px;
  background: #fff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.05);
  color: rgb(32, 32, 32);
  padding: 22px;
  border-radius: 4px;
  animation: 2s fadeIn forwards;
  opacity: 0;
  padding-bottom: -8%;

  &:hover {
    background: var(--sailor-blue);
    transition: all 1s ease-in;
    color: #fff;
    cursor: pointer;
  }

  &:hover a {
    color: #000;
    transition: all .6s ease-in;
  }

  &:hover button {
    background: var(--card-bg);
    transition: all .6s ease-in;
  }
}

.asteroids-info a {
  color: #fff;
  text-decoration: none;
}

.asteroids-info a,
p,
h3 {
  margin: 3%;
}

.btn {
  margin-top: 7%;
  width: 120px;
  height: 35px;
  border: none;
  background: var(--sailor-blue);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.flex-diam {
  display: flex;
  padding: 5px;
}

// keyframes
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

// scrollbar
::-webkit-scrollbar {
  height: 7px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--sailor-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--card-bg);
  border-radius: 4px;
}

@media only screen and (max-width: 576px) {
  .asteroids-info {
    font-size: 15px;
  }

  .asteroids-info h3 {
    font-size: 16px;
  }

  .asteroids-base > div {
    margin: 8px;
  }

  .asteroids-base {
    margin: 10px;
  }
}
